{# Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License. #}
{% extends "appbuilder/general/security/base.html" %}
{% import "appbuilder/general/lib.html" as lib %}

{% block body %}
<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    {{ lib.render_flashed_messages() }}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <img
            src="/static/assets/images/loonar/logo-light.png"
            alt="Loonar FinOps"
            style="max-height: 44px; margin-bottom: 8px;"
          />
          <div>{{ _("Entrar no Superset") }}</div>
        </div>
      </div>
      <div style="padding-top:30px" class="panel-body">
        <form id="loonar-login-form" class="form" method="post" name="login">
            {{ form.hidden_tag() }}
            <div class="help-block">{{ _("Entre com usuário e senha abaixo") }}:</div>
            <div class="control-group{% if form.errors.username is defined %} error{% endif %}">
              <label class="control-label" for="username">{{ _("Nome de usuário") }}:</label>
              <div class="controls">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  {{ form.username(class="form-control", autofocus=True) }}
                </div>
                {% for error in form.errors.get('username', []) %}
                <span class="help-inline">[{{ error }}]</span><br>
                {% endfor %}
              </div>
            </div>

            <div class="control-group{% if form.errors.password is defined %} error{% endif %}">
              <label class="control-label" for="password">{{ _("Senha") }}:</label>
              <div class="controls">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  {{ form.password(class="form-control", type="password") }}
                </div>
                {% for error in form.errors.get('password', []) %}
                <span class="help-inline">[{{ error }}]</span><br>
                {% endfor %}
              </div>
            </div>

            {% if ldap_login_enabled and form.ldap_user_base_alias and form.ldap_user_base_alias.choices %}
            <div class="control-group">
              <label class="control-label" for="ldap_user_base_alias">{{ _("Contexto LDAP") }}:</label>
              <div class="controls">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
                  {{ form.ldap_user_base_alias(class="form-control") }}
                </div>
              </div>
            </div>
            {% endif %}

            {% if form.remember_me %}
            <div class="control-group" style="margin-top: 10px;">
              <div class="controls">
                <label for="remember_me">
                  {{ form.remember_me(id="remember_me") }}
                {{ _("Manter sessão (apenas para login do banco)") }}
                </label>
              </div>
            </div>
            {% endif %}

            <p class="help-block" style="margin-top: 14px;">
              {{ _("Escolha o provedor no botão correspondente abaixo.") }}
            </p>

            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary btn-block" data-auth-provider="database">
                {{ _("Entrar com Banco de Dados do Superset") }}
                </button>
                <button
                  type="submit"
                  class="btn btn-default btn-block"
                  style="margin-top: 8px;"
                  data-auth-provider="ldap"
                >
                {{ _("Entrar com Active Directory") }}
                </button>
              </div>
            </div>

            <div class="d-none">
              {{ form.auth_provider(id="auth_provider") }}
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block tail %}
{{ super() }}
<script>
  (function () {
    const authInput = document.getElementById("auth_provider");
    document.querySelectorAll("#loonar-login-form [data-auth-provider]").forEach(button => {
      button.addEventListener("click", () => {
        authInput.value = button.dataset.authProvider || "database";
      });
    });
  })();
</script>
{% endblock %}
